<div layout="column">
	<h6 ng-if="create_new" style="padding-top:1em; padding-left:5px;"> Create new expert </h6>
	<h6 ng-if="!create_new" style="padding-top:1em; padding-left:5px;">Update expert <b> {{expert.username}} </b></h6>


	<form name="form"  accept-charset="utf-8" class="form-horizontal" 
			layout="column" layout-padding> 
		<div layout="row" layout-sm="row" >
			<md-card layout="column" flex="49" flex-sm="100" layout-padding>
				<md-input-container layout="column" ng-if="create_new">
					<label flex-order="1">Username</label>
					<input required username-available name="username" ng-model="expert.username" type="text">
					<div ng-messages="form.username.$error"  class="messages" >
						<div ng-message="required">[required]</div>
						<div ng-message="usernameExists">[already exists]</div>
					</div>				
				</md-input-container>

				<md-input-container layout="column" ng-if="create_new">
					<label flex-order="1">Email</label>
					<input required email-available  name="email" ng-model="expert.email" type="email">
					<div ng-messages="form.email.$error" class="messages" >
						<div ng-message="required">[required]</div>
						<div ng-message="email">[invalid email]</div>
						<div ng-message="emailExists">[already exists]</div>
					</div>				
				</md-input-container>

				<md-input-container layout="column" ng-if="!create_new">
					<label flex-order="1">Username</label>
					<input name="username" ng-model="expert.username" type="text" ng-disabled="true">
				</md-input-container>

				<md-input-container layout="column" ng-if="!create_new">
					<label flex-order="1">Email</label>
					<input name="email" ng-model="expert.email" type="email" ng-disabled="true">
				</md-input-container>

				<md-input-container ng-if="create_new">
					<label>Password</label>
					<input required name="password" ng-model="expert.password" type="password">
					<div ng-messages="form.password.$error" class="messages" >
						<div ng-message="required">[required]</div>
					</div>
				</md-input-container>


				<md-input-container >
					<label>Full link to cancerinfo</label>
					<input name="link_to_drupal" ng-model="expert.expert.link_to_drupal" type="text">
				</md-input-container>

				<md-input-container >
					<label>Speciality</label>
					<input name="speciality" ng-model="expert.expert.speciality" type="text">
				</md-input-container>


				<bs-checkbox ng-model="expert.send_email" label="Send email with password and username to user"
					ng-if="create_new"></bs-checkbox>
			</md-card>
			<span flex style="max-width:1em;"></span>
			<cw-human-name human="expert.expert.name" label="Name" 
					hide-delete-btn="true"
					hide-bottom-btns="true"
					flex="49" flex-sm="100">
			</cw-human-name>
		</div>
			
		<md-card layout="row" layout-sm="row"> 
			<div layout-padding flex="49" flex-sm="100" class="center" layout="column"> 
				<picture-picker image="expert.new_photo" 
					default-url="{{expert.expert.photo[0]}}">
				</picture-picker>
			</div>
			<span flex style="max-width:1em;"></span>
			<div layout-padding flex="49" flex-sm="100" layout="column"> 
				<md-input-container> 
					<label>Clinical Expertise</label>
					<textarea class="form-control" ng-model="expert.expert.clinical_expertise"
						style="resize:vertical;"></textarea>
				</md-input-container>
				<md-input-container> 
					<label>Degree</label>
					<textarea class="form-control" ng-model="expert.expert.degree"
						style="resize:vertical;"></textarea>
				</md-input-container>
			</div>
			</md-card>
		</md-card>


			<error ng-model="error"></error>
			
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-primary md-raised nomargin-top-bottom" ng-click="create()"
					ng-if="create_new" ng-disabled="form.$invalid || disableForm">
					Create
				</md-button>	
				<md-button class="md-primary md-raised nomargin-top-bottom" ng-click="update()"
					ng-if="!create_new" ng-disabled="form.$invalid || disableForm">
					Update
				</md-button>	
			</div>
	</form>
</div>

