<style> 
p{
	text-indent:1em;
}
</style>
<p >Dear <cw-human-name-view ng-model="userProfile.user.patient.name[0]"></cw-human-name-view>,</p>
<p>Thank you for your recent request for a second opinion consultation from Hygeiais. Please find below the second opinion consultation from <cw-human-name-view ng-model="expert.expert.name"></cw-human-name-view>. You will be contacted by a Hygeiais staff member via email within the next 2-3 days to ensure that you have received your second opinion report and determine if you have any questions.</p>
<br>
<p><b>Diagnosis / Reason for Consultation:</b></p>
<p> {{diagnosis.request_info.previous}}</p>

<br>
<div ng-if="diagnosis.request_info.questions"> 
	<p>In your preliminary materials provided, you asked three specific questions. These include:</p>
	<ul> 
		<li ng-repeat="question in diagnosis.request_info.questions"> 
			<b> {{question}} : </b>
			{{diagnosis.request_info.answers[$index]}}
		</li>
	</ul>
</div>

<div ng-if="diagnosis.summary"> 
	<p><b> Diagnostic Summary / Treatment Summary: </b></p>
	<p>{{diagnosis.summary}}</p>
</div>

<div ng-if="diagnosis.second_opinion"> 
	<p><b> Second Opinion Recommendations: </b></p>
	<p>{{diagnosis.second_opinion}}</p>
</div>
<br>
<p>Sincerely yours,</p>
<p><cw-human-name-view ng-model="expert.expert.name"></cw-human-name-view></p>
