{% extends "main_app_base.html" %}
{% load site_tags %}

{% block angular_app %}
<html lang="en" ng-app="App">
{% endblock %}

{% block css_js_load %}
<script src="/static/libs/bower_components/moment/min/moment.min.js"></script>
<script src="/static/libs/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/static/libs/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"> 
<script src="/static/libs/bower_components/cornerstone/dist/cornerstone.js"></script>
<script src="/static/libs/bower_components/cornerstoneMath/dist/cornerstoneMath.min.js"></script>
<script src="/static/libs/bower_components/cornerstoneTools/dist/cornerstoneTools.min.js"></script>
<script src="/static/libs/bower_components/dicomParser/dist/dicomParser.min.js"></script>
<script src="/static/libs/bower_components/image-jpeg2000/dist/jpx.min.js"></script>
<script src="/static/libs/bower_components/cornerstoneWADOImageLoader/dist/cornerstoneWADOImageLoader.js"></script>
<link rel="stylesheet" href="/static/whirly.css"> 

{% load_ng_app 'helpers' %}
{% load_ng_app 'widgets_app' %}
{% load_ng_app 'material_helpers_app' %}
{% load_ng_app 'composite_widgets_app' %}
{% load_ng_app 'users_app' %}
{% load_ng_app 'd3_charts_app' %}
{% load_ng_app 'cornerstone_app' %}
{% load_ng_app 'fhir_docs_app' %}
{% load_ng_app 'im_app' %}
{% load_ng_app 'so_app' %}
{% load_ng_app 'index_app' %}
{% endblock %}


{% block sidenav_top_btn %}
<div class="dropdown">
	<md-button class="md-primary notext-transform" id="profileDropdown" data-toggle="dropdown">
		<img src="/media_files/avatars/{{user.pk}}-tiny.jpg{% verbatim %}{{userProfile.updateProfileAvatar}}{% endverbatim %}" class="img-circle md-whiteframe-z2 ">
		{% verbatim %} {{ userProfile.user.username | cut:false:15:'...'}} {% endverbatim %}				
		<span class="caret"></span>
	</md-button>
	<ul class="dropdown-menu dropdown-profilemenu" aria-labelledby="profileDropdown"
		 ng-controller="navbarMenuCtrl">
		<li>
			<a href="javascript:void(0)" ng-click="logout()">
				<md-icon>power_settings_new</md-icon>
				Logout
			</a>
		</li>
	</ul>
</div>

{% endblock %}


{% block sidenav_content %}
<div ng-controller="urlCtrl">
	<md-button ng-href="#/patient/profile" layout-fill class="md-primary md-raised md-spec first"
		ng-class="{'active': fullUrl()=='/patient/profile'}">
		<md-icon style="color:white;">perm_identity</md-icon>
		Profile	
	</md-button>

	<md-button ng-href="#/patient/measurements" layout-fill class="md-primary md-raised md-spec"
		ng-class="{'active': fullUrl()=='/patient/measurements'}">
		<md-icon style="color:white;">dashboard</md-icon>
		Dashboard	
	</md-button>

	<md-button ng-href="#/patient/emr" layout-fill class="md-primary md-raised md-spec"
		ng-class="{'active': fullUrl()=='/patient/emr'}">
		<md-icon style="color:white;">content_copy</md-icon>
		Health Data
	</md-button>

	<md-button ng-href="#/patient/calendar" layout-fill class="md-primary md-raised md-spec"
		ng-class="{'active': fullUrl()=='/patient/calendar'}">
		<md-icon style="color:white;">event_note</md-icon>
		Calendar
	</md-button>

	<md-button ng-href="#/patient/related-persons" layout-fill class="md-primary md-raised md-spec"
		ng-class="{'active': fullUrl()=='/patient/related-persons'}">
		<md-icon style="color:white;">face</md-icon>
		Care Team
	</md-button>
	<md-button ng-href="#/patient/so" layout-fill class="md-primary md-raised md-spec"
		ng-class="{'active': fullUrl()=='/patient/so'}">
		<md-icon style="color:white;">supervisor_account</md-icon>
		Second Opinion
	</md-button>
	
</div>
{% endblock %}


{% block footer %}
{% endblock %}
