<md-card layout-padding flex="50" flex-sm="100">
	<div ng-include="'/static/fhir_docs_app/MedicationPrescription/fdMedicationPrescriptionSimpleCustom.html'">  </div>
	<div class="md-actions" layout="row" layout-align="end center">
		<md-button class="md-primary nomargin-top-bottom" ng-click="onDelete(ngModel)"
			ng-show="onDelete">
			Delete	
		</md-button>	
		<md-button class="md-primary nomargin-top-bottom" ng-click="onSave(ngModel)"
			ng-show="onSave">
			Save	
		</md-button>	
	</div>
</md-card>
