
	<div class="md-actions" layout="row" layout-align="end center" ng-if="!showEdit" ng-hide="kioskMode">
		<md-button class="md-primary md-sm nomargin-top-bottom" ng-click="showEditMode()">
			Edit
		</md-button>	
		<md-button class="md-sm nomargin-top-bottom" ng-click="onDelete()" 
			ng-hide="hideDeleteBtn">
			Delete
		</md-button>
	</div>
	<div class="md-actions" layout="row" layout-align="end center" ng-if="showEdit && !hideBottomBtns" 
		ng-hide="kioskMode">
		<md-button class="md-primary md-sm" ng-click="hideEditMode()"
			ng-disabled="form_hn.$invalid">
			Hide Edit Mode
		</md-button>	
		<md-button class="md-sm" ng-click="cancel()">
			Cancel
		</md-button>
	</div>
