
<md-dialog aria-label="Forgot Password?">
  <form name="form_fp"  novalidate="novalidate">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Forgot Password?</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content style="max-width:800px;max-height:810px; ">
	<div ng-show="!email_sended">
		<p> If your email adress has been used to register a profile, you will receive instructions via an email. </p>
		<md-input-container>
			<label>Email</label>
			<input required name="email" ng-model="email" type="email">
			<div ng-messages="form_fp.email.$error"  >
				<div ng-message="required">[required]</div>
				<div ng-message="email">[invalid email]</div>
			</div>
		</md-input-container>		
	</div>
	<div ng-show="email_sended"> 
		<br>
		<br>
		<p> Instructions for password reset have been sent to your email, {{email}}. </p>
		<br>
		<br>
	</div>	
  </md-dialog-content>
  <div class="md-actions" layout="row" ng-show="!email_sended">
    <span flex></span>
    <md-button ng-click="sendEmail()" class="md-raised md-warn" ng-disabled="form_fp.$invalid">
		Reset Password
    </md-button>
  </div>
  </form>
</md-dialog>
